html, body {
    margin: 0;
    background-color: #2F4f30;
    color: white;
}

.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 25px;
}
.carta {
    width: 120px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}
#jugador-cartas, #computadora-cartas {
    height: 190px;
}